@import "../../custom.scss";
footer {
  margin-left: -8px;
  margin-right: -8px;
  margin-bottom: -8px;
  display: flex;
  // substract 16 pixels as each margin is 8px
  width: calc(100vw - 16px);
  justify-content: space-around;
}

.flex {
  flex-basis: 20%;
}

.footer-distributed {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  text-align: left;
  font: bold 16px sans-serif;

  padding: 55px 50px;
  margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 40%;
}

/* The company logo */

.footer-distributed h3,
a,
p {
  color: #ffffff !important;
}

.grey {
  color: #8f9296 !important;
}

/* latin */
@font-face {
  font-family: "Cookie";
  font-style: normal;
  font-weight: 400;
  src: local("Cookie-Regular"),
    url(https://fonts.gstatic.com/s/cookie/v11/syky-y18lb0tSbf9kgqS.woff2)
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

.large {
  font-size: 1.5rem;
}

.link:hover {
  color: $primary !important;
}
